<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<% include templates/header.ejs%>
<h1><%= title %></h1>

<p><%= specification %></p>

<ol>
    <li>Add a new page to this Webpage</li>
    <li>Include link to your new page in the header</li>
</ol>

</body>
</html>
