<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>

        <% include templates/header.ejs %>
        <h3><% title %></h3>
        <p>Hi my name is <% name %>, I was born one yesterday ago.</p>


    </body>
</html>
